.message {
  width: 100%;
  display: flex;
  align-items: center;
}

.message:has(.left) {
  justify-content: left;
}
.message:has(.right) {
  justify-content: right;
}

.message-box {
  max-width: 30%;
  padding: 20px;
  font-size: 1.25rem;
  color: white;
  margin-bottom: 10px;
}

.left {
  margin-left: 10px;
  background-color: #84a176;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.right {
  margin-right: 10px;
  background-color: #002f2f;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}