@import url('https://fonts.googleapis.com/css?family=Sen:regular,bold,italic&subset=latin,latin-ext');

.navbar {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #002F2F;
  padding: 0px;
}

.navbarLeft {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navbarMiddle {
    /* width: calc(60%); */
    /* width: min(500px, calc(100% - 12px)); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    outline: none;
  
}


.searchInput {
  display: flex;
  justify-content: space-between;
  font-family: 'Sen';
  border-radius: 15px;
  box-shadow: 2px 2px 8px #d4d4d4;
  height: 50%;
  background: #D9D9D9;
  flex-grow: 1;
  padding: 5px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}

.navbar-search {
  width: 100%;
  outline: none;
  border: none;
  background-color: #D9D9D9;
  flex-grow: 1;
}

/* .searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
} */

.navbarRight {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

.search-dropdown {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-current {
  margin-left: 5px;
  height: 100%;
  color: white;
  padding: 5px;
  background-color: #002F2F;
}

.search-type {
  position: absolute;
  left:0;
  bottom: 0;
  transform: translateY(100%);
  background-color: #002F2F;
  z-index: 1;
  color: white;
  cursor: pointer;
  display: none;
}

.search-dropdown:hover > .search-type{
  display: block;
}

.search-mode {
  width: 100%;
  padding: 20px;
  padding: 10px;
}

.selected {
  background-color: #001E1E;
  width: 100%;
}

.navbarRight >*:hover:not(:first-child) {
  background-color: black;
}

.navbarBellContainer {
  display: grid;
  place-items: center;
  width: 65px;
}
