@import url('https://fonts.googleapis.com/css?family=Sen:regular,bold,italic&subset=latin,latin-ext');

.dashboard {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
  color: #DDE0E5;
}

