.recipe-show {
  column-count: 3;
  column-gap: 20px;
  column-fill: balance;
  margin: 20px auto 0;
  padding: 2rem;
}

.recipe-show-container {
  display: flex;
  justify-content: center;
  align-items: center;
}